.row
  .span10
    %h1
      = ENV['MAIN_TITLE'] || "Kozenii"
      %small
        = ENV['SUB_TITLE'] || "simple account management"
.row
  %h2
    = link_to new_expense_path, { class: "span2 btn btn-primary btn-large", id: "new_expense", title: "Apply New" } do
      %i.icon-pencil.icon-white
      = t(:report_expense)
    - if current_user.admin?
      = link_to new_expense_path, { class: "span2 btn btn-warning btn-large", id: "new_income" } do
        %i.icon-plus.icon-white
        = t(:register_income)
    - else
      .span2.btn.btn-warning.btn-large.disabled
        %i.icon-plus.icon-white
        = t(:register_income)
    - if current_user.admin?
      = link_to expenses_path, { class: "span2 btn btn-success btn-large", id: "adjust_expense" } do
        %i.icon-file.icon-white
        = t(:adjust_expense)
    - else
      .span2.btn.btn-success.btn-large.disabled
        %i.icon-plus.icon-white
        = t(:adjust_expense)
    .span12

.row
  .span10.page-header

= render template: "summary/_total_balance"

%h2 Topics
= link_to t(:edit), admin_topics_path
- Topic.enabled.each do |topic|
  %dl
    %dt= topic.title
    %dd= topic.body
