.row
  %h1.col-xs-12
    = ENV['MAIN_TITLE'] || "Kozenii"
    %small
      = ENV['SUB_TITLE'] || "simple account management"

.row
  %h2.col-xs-12
    = link_to new_expense_path, { class: "btn btn-primary btn-large", id: "new_expense", title: "Apply New" } do
      %span.glyphicon.glyphicon-pencil
      = t(:report_expense)
    - if current_user.admin?
      = link_to new_expense_path, { class: "btn btn-warning btn-large", id: "new_income" } do
        %span.glyphicon.glyphicon-plus
        = t(:register_income)
    - else
      .btn.btn-warning.btn-large.disabled
        %span.glyphicon.glyphicon-plus
        = t(:register_income)
    - if current_user.admin?
      = link_to expenses_path, { class: "btn btn-success btn-large", id: "adjust_expense" } do
        %span.glyphicon.glyphicon-file
        = t(:adjust_expense)
    - else
      .btn.btn-success.btn-large.disabled
        %span.glyphicon.glyphicon-file
        = t(:adjust_expense)

.row
  .page-header.col-xs-12

%h2= link_to t(:summary), summary_path
= render template: "summary/_total_balance"

%h2 Topics
= link_to t(:edit), admin_topics_path
- Topic.enabled.each do |topic|
  %dl
    %dt= topic.title
    %dd= topic.body
