.row
  .span10.page-header
    %h2.span2.inline= t(:home)
    = link_to new_expense_path, { class: "span1 offset5 inline btn btn-primary", id: "new_expense", title: "Apply New)}" } do
      %i.icon-pencil.icon-white

%h3= link_to t(:members), members_path, { title: 'members' }
%h3= link_to t(:expenses), expenses_path, { title: 'expenses' }
%h3= link_to t(:incomes), incomes_path, { title: 'incomes' }
