%table.table.table-condensed.table-striped#incomes
  %thead
    %tr
      %th ID
      %th= t(:_date)
      %th= t(:description)
      %th= t(:amount)
      %th= t(:member)
      %th= t(:edit)
      %th= t(:delete)
  %tbody
    - @incomes.each do |i|
      %tr
        %td= link_to i.id, i, { id: "detailof_#{i.id}" }
        %td= i.obtained_date
        %td= i.description[0,20]
        %td.num= number_to_currency i.amount
        %td= i.member.try(:nick)
        %td
          = link_to_if_with_block current_user.admin?, edit_income_path(i) do
            %i.icon-edit
        %td
          = link_to_if_with_block current_user.admin?, i, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.icon-trash
