.row
  .span10.page-header
    = link_to incomes_path do
      %h2.span2.inline Incomes
    = link_to t(:new), new_income_path, { class: "span2 offset4 inline btn", id: "new_income" }

%table.table.table-condensed.table-striped#incomes
  %thead
    %tr
      %th ID
      %th= t(:_date)
      %th= t(:obtained_date)
      %th= t(:amount)
      %th= t(:edit)
      %th= t(:delete)
  %tbody
    - @incomes.each do |i|
      %tr
        %td= link_to i.id, i, { id: "detailof_#{i.id}" }
        %td= i.obtained_date
        %td= i.obtained_by[0,20]
        %td.num= number_to_currency i.amount
        %td
          %i.icon-edit
        %td
          %i.icon-trash
