.row
  .col-xs-12.page-header
    = link_to incomes_path do
      %h2.inline Incomes
    - if current_user.admin?
      = link_to t(:new), new_income_path, { class: "pull-right inline btn btn-primary", id: "new_income" }
    - else
      .pull-right.inline.btn.btn-primary.disabled= t(:new)

.row
  %button.btn.btn-info.btn-link.incomes-toggle-button.pull-right
    .glyphicon.glyphicon-plus-sign
    Search
  %button.btn.btn-info.btn-link.incomes-toggle-button.pull-right{style: "display: none"}
    .glyphicon.glyphicon-minus-sign
    Search

= search_form_for @q_i, {class: "form-inline", id: "incomes_search_form"} do |f|
  .row
    .form-group
      = f.label :description_cont, t(:description)
      = f.search_field :description_cont, {class: "search-query form-control"}
    .form-group
      = f.label :member_nick_or_member_yomi_or_member_fullname_cont, t(:member)
      = f.search_field :member_nick_or_member_yomi_or_member_fullname_cont, {class: "search-query form-control"}
    .form-group
      = f.button type: :submit, class: "btn btn-info" do
        %span.glyphicon.glyphicon-search

= paginate @incomes
= render "index_items"
