%table.table.table-striped.table-condensed
  %caption= t(:outgoings)
  %thead
    %tr
      %th= link_to_if current_user.admin?, t(:group), admin_groups_path
      %th= link_to_if current_user.admin?, t(:title), admin_budgets_path
      %th.num= t(:budget)
      %th.num= t(:actual)
  %tbody
    - @budget_outgoings.each do |out|
      %tr
        %td= out.group.try(:name)
        %td= link_to_if current_user.admin?, out.title, admin_budget_path(out)
        %td.num= number_to_currency out.amount
        %td.num= number_to_currency out.expenses.sum(:amount)
    %tr
      %th.text-warning= t(:not_charged_yet)
      %td -
      %td -
      %td.num.text-warning= number_to_currency @expenses.not_associated.sum(:amount)
    %tr.summary
      %th
      %td
      %td.num= number_to_currency @budget_outgoings.sum(:amount)
      %th.num= number_to_currency @expenses.sum(:amount)
