%table.table.table-striped.table-condensed
  %caption= t(:incomes)
  %thead
    %tr
      %th= link_to_if current_user.admin?, t(:group), admin_groups_path
      %th= link_to_if current_user.admin?, t(:title), admin_budgets_path
      %th.num= t(:budget)
      %th.num= t(:actual)
  %tbody
    - @incomes.each do |income|
      %tr
        %td= income.group.try(:name)
        %td= link_to_if current_user.admin?, income.title, admin_budget_path(income)
        %td.num= number_to_currency income.amount
        %td.num= number_to_currency income.incomes.sum(:amount)
