%table.table.table-striped
  %caption= t(:total)
  %thead
    %tr
      %th
      %th.num= t(:budget)
      %th.num= t(:actual)
  %tbody
    %tr
      %th= t(:income)
      %td.num= number_to_currency @budget_incomes.sum(:amount)
      %th.num= number_to_currency @incomes.sum(:amount)
    %tr
      %th= t(:outgoing)
      %td.num= number_to_currency @budget_outgoings.sum(:amount)
      %th.num= number_to_currency @expenses.sum(:amount)
    %tr
      %td.text-warning
        \:
        = t(:not_closed)
      %td -
      %td.text-warning.num.small= "(#{number_to_currency @expenses.not_closed.sum(:amount)})"
    %tr.summary
      %th
      %td.num= number_to_currency (@budget_in_out)
      %th.num= number_to_currency (@actual_in_out)
