.row
  .span10.page-header
    = link_to categories_path do
      %h2.span2.inline Categories
    - if current_user.admin?
      = link_to t(:new), new_category_path, { class: "span2 offset4 inline btn btn-primary", id: "new_category" }

%table.table.table-condensed.table-striped#categories
  %thead
    %tr
      %th ID
      %th Name
      %th= t(:basic_due)
      %th= t(:ext_due)
      %th= t(:edit)

  %tbody
    - @categories.each do |e|
      %tr
        %td= e.id
        %td= e.name
        %td.num= number_to_currency e.basic_due
        %td.num= number_to_currency e.ext_due
        %td
          = link_to_if_with_block current_user.admin?, edit_category_path(e) do
            %i.icon-edit

