= form_tag balanced_out_expense_path, class: "form-horizontal" do
  %h3= "Update Expense entry"
  %dl.dl-horizontal
    %dt= t(:amount)
    %dd= number_to_currency(@expense.amount)
    %dt= t(:member)
    %dd= @expense.member.fullname
    %dt= t(:description)
    %dd= @expense.description
  %fieldset
    .control-group
      = label_tag :balancer_expense_budget_id, t(:budget), class: "control-label"
      .controls
        = select :balancer, :expense_budget_id, options_from_collection_for_select(@budget_outgoings, :id, :title, selected: @expense.budget_id)

  %h3= "Create New Income"
  %dl.dl-horizontal
    %dt= t(:amount)
    %dd= number_to_currency(@income.amount)
    %dt= t(:member)
    %dd= @income.member.fullname

  %fieldset
    .control-group
      = label_tag :balancer_description, t(:description), class: "control-label"
      .controls
        = text_field :balancer, :description
    .control-group
      = label_tag :balancer_budget_id, t(:budget), class: "control-label"
      .controls
        = select :balancer, :budget_id, options_from_collection_for_select(@budget_incomes, :id, :title, selected: @balancer.budget_id)
    .control-group
      = label_tag :balancer_comment, t(:comment), class: "control-label"
      .controls
        = text_area :balancer, :comment
    .form-actions
      = submit_tag t(:submit, default: "Submit"), class: "btn btn-primary"
