= form_tag balanced_out_expense_path, class: "form-horizontal" do
  %h3= "Update Expense entry"
  %fieldset
    .form-group
      %label.col-sm-2.control-label= t(:amount)
      .col-sm-4.form-control-static= number_to_currency(@expense.amount)
    .form-group
      %label.col-sm-2.control-label= t(:member)
      .col-sm-4.form-control-static= @expense.member.fullname
    .form-group
      %label.col-sm-2.control-label= t(:description)
      .col-sm-4.form-control-static= @expense.description
    .form-group
      = label_tag :balancer_expense_budget_id, t(:budget), class: "control-label col-sm-2"
      .col-sm-4
        = select :balancer, :expense_budget_id, options_from_collection_for_select(@budget_outgoings, :id, :title, selected: @expense.budget_id), {}, {class: "form-control"}

  %h3= "Create New Income"
  %fieldset
    .form-group
      %label.col-sm-2.control-label= t(:amount)
      .col-sm-4.form-control-static= number_to_currency(@income.amount)
    .form-group
      %label.col-sm-2.control-label= t(:member)
      .col-sm-4.form-control-static= @income.member.fullname
    .form-group
      = label_tag :balancer_description, t(:description), class: "col-sm-2 control-label"
      .col-sm-8
        = text_field :balancer, :description, { class: "form-control"}
    .form-group
      = label_tag :balancer_budget_id, t(:budget), class: "col-sm-2 control-label"
      .col-sm-4
        = select :balancer, :budget_id, options_from_collection_for_select(@budget_incomes, :id, :title, selected: @balancer.budget_id), {}, { class: "form-control"}
    .form-group
      = label_tag :balancer_comment, t(:comment), class: "col-sm-2 control-label"
      .col-sm-8
        = text_area :balancer, :comment, { class: "form-control"}
    .form-group
      .col-sm-offset-2.col-sm-3
        = submit_tag t(:submit, default: "Submit"), class: "btn btn-primary"
