- @expense.comments.each do |comment|
  %dl
    .row
      %dt.col-xs-offset-2.col-xs-6
        = comment.created_at.getlocal
        = link_to_if_with_block current_user.admin?, comment,
        method: :delete, data: { remote: true, confirm: "Are you sure to delete comment:\"#{omit(comment.body, 10)}\"?" } do
          %span.glyphicon.glyphicon-trash
    .row
      %dd.col-xs-offset-2.col-xs-8= comment.body

= form_for @expense.comments.build, url: expense_update_comments_path(@expense), data: { remote: true } do |f|
  .row
    .col-xs-offset-2.col-xs-8
      = f.text_area :body
  .row
    .col-xs-offset-2.col-xs-3
      = f.submit t(:submit, default: "Save"), class: "btn btn-primary"
