%table.table.table-condensed.table-striped#expenses
  %thead
    %tr
      %th ID
      %th= t(:_date)
      %th= t(:description)
      %th= t(:amount)
      %th= t(:member)
      %th= t(:charged)
      %th= t(:status)
      %th= t(:edit)
      %th= t(:delete)
  %tbody
    - @expenses.each do |e|
      %tr
        %td= link_to e.id, e, { id: "detailof_#{e.id}" }
        %td= e.used_date
        %td= e.description[0,20]
        %td.num= number_to_currency e.amount
        %td= e.member.try(:nick)
        %td.text-center
          - if e.budget_id
            %i.icon-ok
        %td
          - if e.closed?
            .badge.badge-success= t(:closed)
          - else
            .badge.badge-warning= t(:open)
        %td
          = link_to_if_with_block current_user.admin?, edit_expense_path(e) do
            %i.icon-edit
        %td
          = link_to_if_with_block current_user.admin?, e, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.icon-trash
