%table.table.table-condensed.table-striped#expenses
  %thead
    %tr
      %th ID
      %th= t(:_date)
      %th= t(:description)
      %th= t(:amount)
      %th= t(:edit)
      %th= t(:delete)
  %tbody
    - @expenses.each do |e|
      %tr
        %td= link_to e.id, e, { id: "detailof_#{e.id}" }
        %td= e.used_date
        %td= e.description[0,20]
        %td.num= number_to_currency e.amount
        %td
          %i.icon-edit
        %td
          %i.icon-trash
