%table.table.table-condensed.table-striped#expenses
  %thead
    %tr
      %th= sort_link(@q, :id, 'ID')
      %th= sort_link(@q, :used_date, t(:_date))
      %th= sort_link(@q, :description, t(:description))
      %th= sort_link(@q, :amount, t(:amount))
      %th= sort_link(@q, :member_part_show_order, t(:member))
      %th= sort_link(@q, :budget_group_show_order, t(:charged))
      %th= sort_link(@q, :status, t(:status))
      %th= t(:edit)
      %th= t(:delete)
  %tbody
    - @expenses.each do |e|
      %tr
        %td= link_to e.id, e
        %td= e.used_date
        %td= link_to omit(e.description, 20), e
        %td.num= number_to_currency e.amount
        %td= e.member.try(:nick)
        %td.text-center
          - if e.budget_id
            %i.icon-ok
        %td
          - if e.closed? && e.budget_id
            .badge.badge-success= t(:closed)
          - else
            = link_to expense_path(e), { class: "badge badge-warning"} do
              = e.open? ? t(:open) : t(:closed)
        %td
          = link_to_if_with_block(e.open? || current_user.admin?, edit_expense_path(e)) do
            %i.icon-edit
        %td
          = link_to_if_with_block(e.open? || current_user.admin?, e, method: :delete, data: { confirm: 'Are you sure?' }) do
            %i.icon-trash
