.row
  .col-xs-12.page-header
    = link_to expenses_path do
      %h2.inline Expenses
    = link_to t(:new), new_expense_path, { class: "pull-right inline btn btn-primary", id: "new_expense" }

.row
  %button.btn.btn-info.btn-link.expenses-toggle-button.pull-right
    .glyphicon.glyphicon-plus-sign
    Search
  %button.btn.btn-info.btn-link.expenses-toggle-button.pull-right{style: "display: none"}
    .glyphicon.glyphicon-minus-sign
    Search

= search_form_for @q_e, {class: "form-inline", id: "expenses_search_form"} do |f|
  .row
    .form-group
      = f.label :description_cont, t(:description)
      = f.search_field :description_cont, {class: "search-query form-control"}
    .form-group
      = f.label :member_nick_or_member_yomi_or_member_fullname_cont, t(:member)
      = f.search_field :member_nick_or_member_yomi_or_member_fullname_cont, {class: "search-query form-control"}
    .form-group
      = f.label :budget_title_or_budget_group_name_cont, t(:budget)
      = f.search_field :budget_title_or_budget_group_name_cont, {class: "search-query form-control"}
    .form-group
      = f.label :status_eq, { class: "checkbox" } do
        = f.check_box :status_eq,  {}, 'closed', ''
        = t(:status_closed)
    .form-group
      = f.button type: :submit, class: "btn btn-info" do
        %span.glyphicon.glyphicon-search

= paginate @expenses
= render "index_items"
