%h4 Datails
- if @expense.valid_req
  %dl
    .row
      %dt.span1 No.
      %dd.span2= @expense.id
      %dt.span1= t(:_date)
      %dd= l @expense.used_date
      %dt.span1= t(:member)
      %dd= @expense.member.try(:fullname)
    .row
      %dt.span1= t(:charge)
      %dd.span2= @expense.budget.try(:group).try(:name) || 'None'

      %dt.span1= t(:status)
      - if @expense.closed?
        %dd.text-center.span1.badge.badge-success= t(:closed)
      - else
        %dd.text-center.span1.badge.badge-warning= t(:open)
        %dd
          = link_to t(:balance_out), new_balancer_expense_path(@expense), { class: "span1 btn btn-primary" }
    %h5.row
      %dt.span1= t(:amount)
      %dd.span2= number_to_currency(@expense.amount)
    %dt
      %h5= t(:description)
    %dd= @expense.description
    %dt
      %h5= t(:user_note)
    %dd= @expense.user_note
- else
  %h4 Invalid entry
<hr>
%h4  comments
#comments
  = render 'comments'

<hr>
%dl.dl-horizontal
  %dt Created at
  %dd= @expense.created_at.getlocal
  %dt Updated at
  %dd= @expense.updated_at.getlocal
