- if @expense.valid_req
  %dl.dl-horizontal
    %dt No.
    %dd= @expense.id
    %dt= t(:_date)
    %dd= l @expense.used_date
    %dt= t(:spend_for)
    %dd= @expense.spend_for
    %dt= t(:amount)
    %dd= number_to_currency(@expense.amount)
    %dt= t(:adjusted)
    %dd= @expense.adjusted ? t(:done) : t(:no)
    %dt= t(:comment)
    %dd= @expense.comment
- else
  %h4 Invalid entry

%dl.dl-horizontal
  %dt Created at
  %dd= @expense.created_at.getlocal
  %dt Updated at
  %dd= @expense.updated_at.getlocal
