- if @member.errors.any?
  #error_explanation
    %ul
      - @member.errors.full_messages.each do |msg|
        %li= msg
= form_for(@member, html: {class: "form-horizontal"}) do |f|
  %fieldset
    .control-group
      .controls.small-text
        = t(:required, default: 'required(*)')
    .control-group
      = f.label :part_id, t(:part), class: "control-label"
      .controls
        = f.select :part_id, options_from_collection_for_select(Part.order(:show_order), :id, :name, selected: @member.part_id), {include_blank: '-'}
    .control-group
      = f.label :fullname, t(:fullname) + '*', class: "control-label"
      .controls
        = f.text_field :fullname
    .control-group
      = f.label :yomi, t(:yomi) + '*', class: "control-label"
      .controls
        = f.text_field :yomi
    .control-group
      = f.label :nick, t(:nick) + '*', class: "control-label"
      .controls
        = f.text_field :nick
    .control-group
      = f.label :category_id, t(:category), class: "control-label"
      .controls
        = f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, selected: @member.category_id), {include_blank: '-'} 
    .form-actions
      = f.submit t(:submit, default: "Submit"), class: "btn btn-primary"
