%dl.dl-horizontal
  %dt= t(:part)
  %dd= @member.part.try(:name) || '-'
  %dt= t(:fullname)
  %dd= @member.fullname
  %dt= t(:yomi)
  %dd= @member.yomi
  %dt= t(:nick)
  %dd= @member.nick
  %dt= t(:obligation)
  %dd= @member.obligation
  %dt= t(:category)
  %dd= @member.category.try(:name) || '-'
  %dt= t(:paid)
  %dd= @member.paid
  %dt= t(:remain)
  %dd= @member.remain

%dl.dl-horizontal
  %dt ID
  %dd= @member.id
  %dt Created at
  %dd= @member.created_at.getlocal
  %dt Updated at
  %dd= @member.updated_at.getlocal
