.row
  .span10.page-header
    = link_to members_path do
      %h2.span2.inline Members
    = link_to t(:new), new_member_path, { class: "span2 offset4 inline btn", id: "new_member" }

%table.table.table-condensed.table-striped#members
  %thead
    %tr
      %th= t(:part) 
      %th= t(:fullname)
      %th= t(:paid)
      %th= t(:bill)
      %th= t(:category)
      %th= t(:edit)
      %th= t(:delete)
  %tbody
    - @members.each do |member|
      %tr
        %td @ToDo
        %td= link_to member.fullname, member, { id: "detailof_#{member.id}" }
        %td @ToDo
        %td @ToDo
        %td @ToDo
        %td
          %i.icon-edit
        %td
          %i.icon-trash
