.row
  .col-xs-12.page-header
    = link_to members_path do
      %h2.inline Members
    - if current_user.admin?
      = link_to t(:new), new_member_path, { class: "pull-right inline btn btn-primary", id: "new_member" }
    - else
      .pull-right.inline.btn.btn-primary.disabled= t(:new)

%table.table.table-condensed.table-striped#members
  %thead
    %tr
      %th= t(:part) 
      %th= t(:fullname)
      %th= t(:paid)
      %th= t(:remain)
      %th= t(:category)
      %th= t(:edit)
      %th= t(:delete)
  %tbody
    - @members.part_order.each do |member|
      %tr
        %td= member.part.try(:name) || '-'
        %td= link_to member.fullname, member, { id: "detailof_#{member.id}" }
        %td.num= number_to_currency member.paid
        %td.num= number_to_currency member.remain
        %td= member.category.try(:name)
        %td
          = link_to_if_with_block current_user.admin?, edit_member_path(member) do |n|
            %span.glyphicon.glyphicon-edit
        %td
          = link_to_if_with_block current_user.admin?, member, method: :delete, data: { confirm: 'Are you sure?' } do |n|
            %span.glyphicon.glyphicon-trash
