%dl.dl-horizontal
  %dt No.
  %dd= @member.id
  %dt= t(:fullname)
  %dd= l @member.fullname
  %dt= t(:nick)
  %dd= @member.nick
  %dt= t(:yomi)
  %dd= @member.yomi

%dl.dl-horizontal
  %dt Created at
  %dd= @member.created_at.getlocal
  %dt Updated at
  %dd= @member.updated_at.getlocal

