%h3= @member.fullname
- if current_user.admin?
  %h5.inline
    = link_to edit_member_path(@member) do |n|
      %span.glyphicon.glyphicon-edit
      edit
  %h5.inline
    = link_to @member, method: :delete, data: { confirm: 'Are you sure?' } do |n|
      %span.glyphicon.glyphicon-trash
      delete

.tabbable
  %ul.nav.nav-tabs
    %li.active= link_to t(:base_info), "#base_info_tab", "data-toggle" => "tab"
    %li= link_to t(:expenses), "#expenses_tab", "data-toggle" => "tab"
    %li= link_to t(:incomes), "#incomes_tab", "data-toggle" => "tab"
  .tab-content
    #base_info_tab.tab-pane.active
      = render "show_base_info"
    #expenses_tab.tab-pane
      .row
        = link_to new_expense_path(expense: {member_id: @member.id}), { class: "col-xs-1 pull-right btn btn-primary" } do
          %span.glyphicon.glyphicon-plus
      = render template: "expenses/_index_items"
    #incomes_tab.tab-pane
      .row
        = link_to new_income_path(income: {member_id: @member.id}), { class: "col-xs-1 pull-right btn btn-primary" } do
          %span.glyphicon.glyphicon-plus
      = render template: "incomes/_index_items"
